* {border: 0px solid blue;}

body{
    margin: auto;
    padding: 0;
}

#hero img{
    display: block;
    width: 70% ;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    white-space: 0;
}

nav{
    box-sizing:border-box;
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    background-color: grey;
}

nav img{
    margin: 100px 200px;  /* space between elements */
    padding: 0px; /* no white space between img and border */
    border-radius: 50%; /* makes it round*/
    height: 800px;
    border: 45px solid rgb(51, 49, 49)
}