@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Kaushan+Script');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #000066   ;
  --secondary-color: #c1d1eb ;
  --accent1-color: #ec5b69;
  --accent2-color: #6600cc;
  --alt-white-color: #f0f4fa;

  /* change the values below to your chosen font(s) */
  --heading-font: "Kaushan Script";
  --paragraph-font: Handlee, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #6600cc;  /* headlines on a white background */ 
  --headline-color-on-color: #ec5b69; /* headlines on a colored background */ 
  --paragraph-color-on-white: #000066; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #c1d1eb; /* paragraph text on a colored background */ 
  --paragraph-background-color: #000066;
  --nav-link-color: #ec5b69;
  --nav-background-color: #000066;
  --nav-hover-link-color: #6600cc;
  --nav-hover-background-color: #c1d1eb;
}

body {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
    font-family: var(--paragraph-font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    z-index: -1;
    text-align: left;
    background-color: var(--nav-background-color);
}
#logo_link {
    display: grid;
    grid-column: 1/2;
    margin: 5%;
    padding-left: 15%;
    justify-content: left;
}
.logo {
    width: 100%;
    border-radius: 50%;
}
nav {
    display: inline;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 5%;
    width: 100%;
    text-align: right;
    font-size: 1.2em;
}
nav a {
    display: inline;
    text-decoration: none;
    padding: 3%;
    margin-left: auto;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
#hero {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    z-index: -1;
    justify-items: center;
}
#hero_pic {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 0;
    box-sizing: border-box;
    width: 100%;
    border: 4px solid black;
}
.hero_msg {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 1;
    font-size: 4em;
    margin-top: 0px;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: .5em .25em;
    margin-top: 120px;
    margin-bottom: 100px;
}
.para {
    display: inline-block;
    margin: 0 auto;
    padding: 0px 30px;
}
.para h4 {
    display: inline-block;
    padding: 20px;
    margin: 0px;
}
.para p {
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px;
}
#aboutme {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 75%;
    margin: 0 auto;
    padding: 50px;;
    justify-items: center;
}
#me {
    display: grid;
    grid-column: 1/2;
    place-self: center;
    border: 5px solid black;
    border-radius: 50%;
    width: 100%;
}
#aboutme p {
    display: grid;
    grid-column: 2/3;
    text-align: left;
    place-self: center;
    padding-left: 80px;
    font-size: 1.2em;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    margin-top: 125px;
    background-color: var(--nav-background-color);
    color: var(--secondary-color);
}
footer p:nth-of-type(1) {
    text-align: left;
}
footer p a {
    text-decoration: none;
    color: var(--nav-link-color);
}
footer p a:hover {
    text-decoration: none;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer p:nth-of-type(3) {
    text-align: right;
}

/* for CONTACTUS page */
form {
    margin: 0 auto;
    width: 420px;
    padding: 1em;
    border: 3px solid var(--paragraph-background-color);
    background-color: var(--paragraph-color-on-color);
    border-radius: 1em;
    margin-top: 100px;
}
form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 1em;
}
form label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
input, textarea, #topics {
    font: 1em sans-serif;
    width: 310px;
    box-sizing: border-box;
    border: 2px solid var(--accent2-color);
} 
#name:focus, #mail:focus, #topics:focus, #msg:focus {
    border-color: var(--accent2-color);
}
textarea {
    vertical-align: top;
    height: 5em;
}
#contactus-main .button {
    padding-left: 85px;
    padding-bottom: 15px;
    padding-top: 5px;
    font-size: larger;
}
#contactus-main button {
    margin-left: 1.1em;
    background-color: var(--alt-white-color);
    border: 3px solid var(--accent2-color);
    border-radius: 5% 25%;
    color: var(--nav-link-color);
    font-family: var(--paragraph-font);
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: var(--nav-link-color);
    box-shadow: 2px 2px 2px 0px var(--nav-background-color);
}
#feedback {
    background-color: var(--paragraph-color-on-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* for THE PROCESS page */

.hero_proc {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin: 0;
    background-color: var(--secondary-color);
}
.hero_proc h1 {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: var(--alt-white-color);
    margin-top: 0;
    padding: 20px;
}

/* Hero List Formatting - a grid in a grid*/
.hero_proc_list {
    display: grid;
    grid-row: 2/3;
    min-height: 374px;
    min-width: 374px;
    grid-template-columns: auto 33px 55px 33px 11px 11px 77px 11px 11px 44px 33px 11px 44px auto;
    grid-template-rows: auto 60px 20px 60px 10px 20px 60px 10px 10px 20px 20px 30px 30px 20px auto;
    list-style: none;
    padding: 10px;
}
.hero_proc_list li {
    border: 3px solid var(--accent1-color);
    border-radius: 50%;
    display: grid;
    align-self: center;
    background-color: var(--alt-white-color);
}
.i {
    grid-column: 6/8;
    grid-row: 2/4;
}
.ii {
    grid-column: 9/12;
    grid-row: 3/5;
}
.iii {
    grid-column: 11/14;
    grid-row: 6/8;
}
.iv {
    grid-column: 10/13;
    grid-row: 10/13;
}
.v {
    grid-column: 7/9;
    grid-row: 12/15;
}
.vi {
    grid-column: 3/5;
    grid-row: 11/14;
}
.vii {
    grid-column: 2/4;
    grid-row: 7/10;
}
.viii {
    grid-column: 5/9;
    grid-row: 5/9;
    font-size: larger;
}

/* Process Hero Message formatting */
.hero_proc {
    border: 3px solid var(--nav-background-color);
}
.hero_proc h1 {
    border-bottom: 1px solid var(--nav-background-color);
}
.hero_proc_msg {
    grid-row: 2/3;
    grid-column: 2/3;
    max-width: 500px;
    min-width: 200px;
    padding: 90px;
    font-weight: bold;
    margin: 20px;
}
.start {
    border: 3px solid var(--accent2-color);
    border-radius: 5% 25%;
    background-color: var(--alt-white-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: #ec5b69;
    color: var(--nav-link-color);
    box-shadow: 2px 2px 2px 0px var(--nav-background-color);
}
.hero_proc_msg p {
    margin-top: 60px;
}

/* Process Contect Section */
.proc_content {
    width: 95%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
}
.topic {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 95%;
    margin: 0 auto;
    padding: 80px;

}
.proc_item {
    display: grid;
    grid-column: 1/2;
    border: 2px solid var(--primary-color);
    height: fit-content;
    width: 100px;
    padding: 40px;
    background-color: var(--paragraph-color-on-color);
    color: var(--primary-color);
}
.proc_details, .proc_details_icon {
    display: grid;
    grid-column: 2/3;
    margin-left: 50px;
    border: 3px solid var(--accent1-color);
    text-align: left;
    padding: 10px;
}
.proc_details h4, .proc_details_icon h4 {
    margin-top: 5px;
    margin-bottom: 7px;
}
.proc_details p, .proc_details ul, .proc_details_icon p, .proc_details_icon ul {
    margin-top: 0px;
    margin-bottom: 10px;
}
.content_grid {
    display: grid;
    grid-template-columns: 48% 48%;
    padding: 5px;
    column-gap: 4%;
}
.proc_details_icon {
    display: grid;
    grid-template-columns: 100%;
}
.icon{
    width: 50px;
    grid-row: 1/2;
    grid-column: 1/2;
}
.proc_details_icon h4 {
    margin-left: 60px;
    grid-row: 1/2;
    grid-column: 1/2;
}