@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Kaushan+Script');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #000066   ;
  --secondary-color: #c1d1eb ;
  --accent1-color: #ec5b69;
  --accent2-color: #6600cc;
  --alt-white-color: #f0f4fa;

  /* change the values below to your chosen font(s) */
  --heading-font: "Kaushan Script";
  --paragraph-font: Handlee, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #6600cc;  /* headlines on a white background */ 
  --headline-color-on-color: #ec5b69; /* headlines on a colored background */ 
  --paragraph-color-on-white: #000066; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #c1d1eb; /* paragraph text on a colored background */ 
  --paragraph-background-color: #000066;
  --nav-link-color: #ec5b69;
  --nav-background-color: #000066;
  --nav-hover-link-color: #6600cc;
  --nav-hover-background-color: #c1d1eb;
}

body {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    font-size: 1.5em;
    text-align: center;
    font-family: var(--paragraph-font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}
header {
    display: grid;
    grid-template-columns: 1fr 6fr;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    z-index: -1;
    text-align: left;
    background-color: var(--nav-background-color);
}
#logo_link {
    display: grid;
    grid-column: 1/2;
    margin: 5%;
    padding-left: 15%;
    justify-content: left;
}
.logo {
    width: 100%;
    border-radius: 50%;
}
nav {
    display: inline;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 5%;
    width: 100%;
    text-align: right;
    font-size: 1.2em;
}
nav a {
    display: inline;
    text-decoration: none;
    padding: 3%;
    margin-left: auto;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
#hero {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    z-index: -1;
    justify-items: center;
}
#hero_pic {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 0;
    box-sizing: border-box;
    width: 100%;
    border: 4px solid black;
}
.hero_msg {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    z-index: 1;
    font-size: 4em;
    margin-top: 0px;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: .5em .25em;
    margin-top: 120px;
    margin-bottom: 100px;
}
.para {
    display: inline-block;
    margin: 0 auto;
    padding: 0px 30px;
}
.para h4 {
    display: inline-block;
    padding: 20px;
    margin: 0px;
}
.para p {
    display: inline-block;
    vertical-align: top;
    margin: 0px 0px;
}
#aboutme {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 80px auto;
    width: 75%;
    height: 100%;
    margin: 0 auto;
}
#me {
    grid-column: 1/2;
    grid-row: 1/3;
    place-self: center;
    border: 5px solid black;
    border-radius: 50%;
    width: 100%;
    row-gap: 0px;
}
#aboutme h3 {
    grid-column: 2/3;
    grid-row: 1/2;
    height: 100%;
    padding: 0px;
    padding-left: 80px;
    margin-bottom: 0px;
    text-align: left;
}
#aboutme p {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    text-align: left;
    padding-left: 80px;
    margin-top: 0;
    font-size: 1.2em;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px;
    margin-top: 125px;
    background-color: var(--nav-background-color);
    color: var(--secondary-color);
}
footer p:nth-of-type(1) {
    text-align: left;
}
footer p a {
    text-decoration: none;
    color: var(--nav-link-color);
}
footer p a:hover {
    text-decoration: none;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
footer p:nth-of-type(3) {
    text-align: right;
}

/* for CONTACTUS page */
form {
    margin: 0 auto;
    width: 420px;
    padding: 1em;
    border: 3px solid var(--paragraph-background-color);
    background-color: var(--paragraph-color-on-color);
    border-radius: 1em;
    margin-top: 100px;
}
form ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
form li + li {
    margin-top: 1em;
}
form label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
input, textarea, #topics {
    font: 1em sans-serif;
    width: 310px;
    box-sizing: border-box;
    border: 2px solid var(--accent2-color);
} 
#name:focus, #mail:focus, #topics:focus, #msg:focus {
    border-color: var(--accent2-color);
}
textarea {
    vertical-align: top;
    height: 5em;
}
#contactus-main .button {
    padding-left: 85px;
    padding-bottom: 15px;
    padding-top: 5px;
    font-size: larger;
}
#contactus-main button {
    margin-left: 1.1em;
    background-color: var(--alt-white-color);
    border: 3px solid var(--accent2-color);
    border-radius: 5% 25%;
    color: var(--nav-link-color);
    font-family: var(--paragraph-font);
    font-weight: bold;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: var(--nav-link-color);
    box-shadow: 2px 2px 2px 0px var(--nav-background-color);
}
#feedback {
    background-color: var(--paragraph-color-on-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}

/* for THE PROCESS & DESIGN IDEAS pages */

.hero_proc, .hero_idea {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0;
    margin: 0;
    background-color: var(--secondary-color);
}
.hero_proc h1, .hero_idea h1 {
    display: grid;
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: var(--alt-white-color);
    margin-top: 0;
    padding: 20px;
}

/* Hero List Formatting IDEAS - a grid in a grid*/
.hero_icons {
    display: grid;
    grid-row: 2/3;
    padding: 5% 10% 10% 10%;
    grid-template-columns: auto 18% 4% 18% 18% 18% 4% 18% auto;
    grid-template-rows: auto 15% 22% 7% 7% 7% 22% 15% auto;
}
.hero_idea .icon {
    border: 3px solid var(--accent1-color);
    display: grid;
    align-self: center;
    background-color: var(--alt-white-color);
    max-width: 100%;
    min-width: 50%;
    padding: 5px;
    margin-left: 0;
}
.hero_idea .icon:nth-child(1) {
    grid-column: 2/4;
    grid-row: 2/4;
}
.hero_idea .icon:nth-child(2) {
    grid-column: 3/5;
    grid-row: 5/8;
}
.hero_idea .icon:nth-child(3) {
    grid-column: 6/8;
    grid-row: 3/6;
}
.hero_idea .icon:nth-child(4) {
    grid-column: 7/9;
    grid-row: 7/9;
}


/* Hero List Formatting PROCESS - a grid in a grid*/
.hero_proc_list {
    display: grid;
    grid-row: 2/3;
    min-height: 374px;
    min-width: 100%;
    grid-template-columns: auto 33px 55px 33px 11px 11px 77px 11px 11px 44px 33px 11px 44px auto;
    grid-template-rows: auto 60px 20px 60px 10px 20px 60px 10px 10px 20px 20px 30px 30px 20px auto;
    list-style: none;
    padding: 10px;
}
.hero_proc_list li {
    border: 3px solid var(--accent1-color);
    border-radius: 50%;
    display: grid;
    align-self: center;
    background-color: var(--alt-white-color);
}
.i {
    grid-column: 6/8;
    grid-row: 2/4;
}
.ii {
    grid-column: 9/12;
    grid-row: 3/5;
}
.iii {
    grid-column: 11/14;
    grid-row: 6/8;
}
.iv {
    grid-column: 10/13;
    grid-row: 10/13;
}
.v {
    grid-column: 7/9;
    grid-row: 12/15;
}
.vi {
    grid-column: 3/5;
    grid-row: 11/14;
}
.vii {
    grid-column: 2/4;
    grid-row: 7/10;
}
.viii {
    grid-column: 5/9;
    grid-row: 5/9;
    font-size: larger;
}

/* Process Hero Message formatting */
.hero_proc, .hero_idea {
    border: 3px solid var(--nav-background-color);
    padding-bottom: 20px;
}
.hero_proc h1, .hero_idea h1 {
    border-bottom: 1px solid var(--nav-background-color);
    box-sizing: border-box;
}
.hero_proc_msg, .hero_idea_msg {
    grid-row: 2/3;
    grid-column: 2/3;
    max-width: 374px;
    min-width: 374px;
    padding: 90px;
    font-weight: bold;
    margin: 20px;
}
.start {
    border: 3px solid var(--accent2-color);
    border-radius: 5% 25%;
    background-color: var(--alt-white-color);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    color: #ec5b69;
    color: var(--nav-link-color);
    box-shadow: 2px 2px 2px 0px var(--nav-background-color);
}
.hero_proc_msg p, .hero_idea_msg p {
    margin-top: 60px;
}

/* PROCESS and IDEAS Contect Section */
.proc_content, .idea_content {
    width: 95%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 20px;
}
.topic {
    display: grid;
    grid-template-columns: 1fr 5fr .25fr;
    width: 95%;
    margin: 0 auto;
    padding: 80px;

}
.proc_item, .idea_item {
    display: grid;
    grid-column: 1/2;
    border: 2px solid var(--primary-color);
    height: fit-content;
    width: 100px;
    padding: 40px;
    background-color: var(--paragraph-color-on-color);
    color: var(--primary-color);
}
.proc_details, .proc_details_icon, .idea_details {
    display: grid;
    grid-column: 2/3;
    margin-left: 50px;
    border: 4px solid var(--accent1-color);
    text-align: left;
    padding: 10px;
    background-color: var(--alt-white-color);
}
.proc_details h4, .proc_details_icon h4, .idea_details h4 {
    margin-top: 5px;
    margin-bottom: 7px;
}
.proc_details p, .proc_details ul, .proc_details_icon p, .proc_details_icon ul, .idea_details p, .idea_details ul {
    margin-top: 0px;
    margin-bottom: 10px;
}

/* for the PROCESS page with details that include icons in front of title line */
.content_grid {
    display: grid;
    grid-template-columns: 48% 48%;
    padding: 5px;
    column-gap: 4%;
}
.proc_details_icon {
    display: grid;
    grid-template-columns: 100%;
}
.topic .icon{
    width: 2em;
    grid-row: 1/2;
    grid-column: 1/2;
}
.proc_details_icon h4 {
    margin-left: 60px;
    grid-row: 1/2;
    grid-column: 1/2;
}

/* for the IDEAS page pictures at the bottom */

.idea_img {
    display: grid;
    width: 100%;
    margin: 100px 20px 120px 20px;
    grid-template-columns: 6fr 1fr 5fr 1fr 5fr 1fr 5fr 1fr 6fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.idea_img img {
    border: 10px solid black;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.idea_img img:nth-child(3) {
    grid-column: 1/3;
    grid-row: 1/3;
    z-index: 1;
}
.idea_img img:nth-child(1) {
    grid-column: 2/5;
    grid-row: 2/4;
    z-index: 2;
}
.idea_img img:nth-child(5) {
    grid-column: 4/7;
    grid-row: 1/3;
    z-index: 3;
}
.idea_img img:nth-child(4) {
    grid-column: 6/9;
    grid-row: 2/4;
    z-index: 4;
}
.idea_img img:nth-child(2) {
    grid-column: 8/10;
    grid-row: 1/3;
    z-index: 5;
}

/* adjusts for smaller screens such as phones */
@media screen and (max-width: 900px) {
    nav, footer {
        flex-direction: column;
    }
    #hero .hero_msg {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #logo_link {
        display: grid;
        margin: 5%;
        padding-left: 3%;
    }
    nav {
        display: inline;
        margin: 5%;
        padding-right: 3%;
        font-size: 1em;
    }
    nav a {
        display: block;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10px;
        margin-top: 40px;
        background-color: var(--nav-background-color);
        color: var(--secondary-color);
        font-size: 0.7em;
    }
    footer p:nth-of-type(1) {
        display: grid;
        grid-row: 1/2;
        text-align: left;
        margin: 5px;
    }
    footer p:nth-of-type(2) {
        display: grid;
        grid-row: 2/3;
        text-align: left;
        margin: 5px;
    }
    footer p:nth-of-type(3) {
        display: grid;
        grid-row: 3/4;
        text-align: left;
        margin: 5px;
    }
    /* Home Page Adjustments */
    .content {
        display: grid;
        grid-template-columns: 1fr;
        padding: .5em .25em;
        margin-top: 120px;
        margin-bottom: 100px;
    }
    .para {
        display: block;
        padding: 3%;
    }
    .para h4 {
        display: block;
        padding: 5px;
        margin-top: 15px;
    }
    #aboutme {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 90%;
        padding: 5%;
        height: auto;
        margin: 0 auto;
    }
    #me {
        grid-column: 1/2;
        grid-row: 1/2;
        place-self: center;
        width: 50%;
    }
    #aboutme h3 {
        grid-column: 1/2;
        grid-row: 2/3;
        padding: 3%;
        padding-left: 0px;
        margin-bottom: 0px;
    }
    #aboutme p {
        grid-column: 1/2;
        grid-row: 3/4;
        text-align: left;
        padding-left: 0px;
        margin-top: 0;
        font-size: 1em;
    }

    /* The Process Page Adjustments */
    .hero_proc, .hero_idea {
        box-sizing: border-box;
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        margin: 0px;
        padding: 0%;
    }
    .hero_proc h1, .hero_idea h1 {
        display: block;
        width: 100%;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .hero_proc_list {
        display: block;
        width: 100%;
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 0px;
        align-self: center;
        justify-self: center;
        padding: 20%;
    }
    .hero_proc_msg, .hero_idea_msg {
        display: block;
        width: 100%;
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 0px;
        margin: 0 auto;
        align-self: center;
        justify-self: center;
        text-align: center;
        padding: 5%;
    }

    .topic {
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin-top: 40px;
        margin-left: 0;
        padding: 0px;
        font-size: 60%;
    }
    .proc_item, .idea_item {
        grid-column: 1/2;
        padding: 3%;
        margin: 5px;
    }
    .proc_details, .proc_details_icon, .idea_details {
        width: 100%;
        display: grid;
        grid-column: 1/2;
        margin-left: 10%;
        border: 3px solid var(--accent1-color);
        text-align: left;
        background-color: var(--alt-white-color);
    }
    .proc_details h4, .proc_details_icon h4, .idea_details h4 {
        margin-top: 5px;
        margin-bottom: 7px;
        padding: 3%;
    }
    .proc_details p, .proc_details ul, .proc_details_icon p, .proc_details_icon ul, .idea_details p, .idea_details ul {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    
    .content_grid {
        display: grid;
        grid-template-columns: 100%;
        padding: 2px;
        column-gap: 4%;
    }
    .proc_details_icon {
        display: grid;
        grid-template-columns: 100%;
    }
    .proc_details_icon h4 {
        margin-left: 40px;
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .hero_icons {
        margin-top: 40px;
    }
    .idea_img img {
        border: 2px solid;
    }
    .hero_proc_list {
        box-sizing: border-box;
        display: grid;
        grid-row: 2/3;
        min-height: 10%;
        min-width: 10%;
        grid-template-columns: .5% 8.7% 14.6% 8.7% 2.9% 2.9% 20.4% 2.9% 2.9% 11.6% 8.7% 2.9% 11.6% .5%;
        grid-template-rows: auto 6fr 2fr 6fr 1fr 2fr 6fr 1fr 1fr 2fr 2fr 3fr 3fr 2fr auto;
        list-style: none;
        padding: 10px;
    }
    .hero_proc_list li {
        box-sizing: border-box;
        border: 1px solid var(--accent1-color);
        border-radius: 50%;
        display: grid;
        align-self: center;
        background-color: var(--alt-white-color);
        font-size: 50%;
    }
    .hero_proc h1, .hero_idea h1 {
        display: grid;
        grid-row: 1/2;
        grid-column: 1/2;
        background-color: var(--alt-white-color);
        margin-top: 0;
        padding: 20px;
    }
    .hero_proc_msg, .hero_idea_msg {
        grid-row: 3/3;
        grid-column: 1/2;
        max-width: 374px;
        min-width: 100px;
        padding: 0px;
        font-weight: bold;
        margin: 0;
    }
    .start {
        border: 2px solid var(--accent2-color);
        padding: 5px;
        font-size: 60%;
    }
    .hero_proc_msg p, .hero_idea_msg p {
        margin-top: 40px;
        font-size: 60%;
    }
    .idea_img {
        margin: 60px 20px 20px 20px;
    }

}