body {
    margin-top: 5em;
}

.grid-container {
    width: 80em;
    height: 40em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gray;
    padding: 0px;
}

.grid-item { 
    box-sizing: border-box;
    text-align: center;
    margin: 0;
}

h1 {
    padding: .35em .15em 0em 0em;
    grid-column: 1/3;
    grid-row: 1/2;
    font-size: 13em;
    z-index: 1;
    align-self: center;
}

h2 {
    padding: 0em 0em.45em 0em;
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 7em;
    color: darkred;
    z-index: 1;
    align-self: center;
}

.grid-item-pic {
    grid-column: 1/2;
    grid-row: 1/3;
}

img {
    box-sizing: border-box;
    width: 40em;
    background-color: white;
}