/*
h1 = header
h1:hover = header when hovering
header p = paragarphs in the header
li = lists
.quote = class of quote
a = 
img = images
main p = paragraphs in the main body
p = paragraphs
footer p = paragraphs in the footer
@import url(' '); to import font
@font-face { font-family:'  ';  src: url(  );}
*/

* 

body{
    font-family: Arial, Verdana, sans-serif;
    margin: 0 auto;
    background-color: rgb(253, 160, 204);
    color: black;
    text-align: center
}

header, h2 {
    color: white;
}

h1:hover {
    color: black;
}

h4 {
    font-size: 0.8em;
}

.h_para {
    font-family: 'Times New Roman', Times, serif;
    display: inline-block;
    width: 360px;
    margin: 0 auto;
    font-size: .8em;
}

ol {
    width: 100% auto;
    text-align: left;
    width: 360px;
    margin: 0 auto;
    font-weight:bold;
    font-size:small
}

li {
    padding: 5px;
}

img {
    width: 150px;
    margin: 0 auto;
    padding: 15px;
}

.quote_para {
    font-family: 'Times New Roman', Times, serif;
    display: block;
    width: 220px;
    margin: 0 auto;
    font-size: 1.6em;
    color: white;
    margin-bottom: 1.2em;
}

.title {
    font-size: .75em;
    width: 290px;
    margin: 0 auto;
    font-weight: bold;
}

.quote {
    margin-bottom: 2em;
}